
    <div class="card mt-5" style="width: 400px; margin: auto;">
      <div id="fruitForm_header" class="card-header">
          Add New Fruit
      </div>
      <div class="card-body">
        <form (ngSubmit)='onSubmit(Form.value)' #Form="ngForm">
          <div class="form-group col-12">
            <label class="form-label" for="name">Name</label>
            <input type="text" class="form-control" ngModel name="fruitname" required>
          </div>
          <div class="form-group col-12">
            <label class="form-label" for="img">Img</label>
            <input type="text" class="form-control" ngModel name="fruitimg" required>
          </div>
          <div class="form-group col-12">
            <label class="form-label" for="price">Price</label>
            <input type="number" class="form-control" ngModel name="fruitprice" required>
          </div>
          <div class="form-group col-12">
            <label class="form-label" for="desc">Description</label>
            <textarea class="form-control" name="fruitdes" cols="30" rows="3" ngModel required></textarea>
          </div>
          <div class="form-group col-12" style="margin-top: 6px;">
            <button [disabled] = "!Form.valid" type="submit" class="btn btn-primary" style="margin-right: 4px;">Add</button>
            <button type="submit" class="btn btn-primary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
